body {
    font-family: 'Crimson Pro', serif;
    font-size: medium;
    font-weight: normal;
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: lab(3.24% 20 -28.28);
    color: white;
}

body.light svg#symbols symbol * {
    stroke: black;
}

body.dark svg#symbols symbol * {
    stroke: white;
}

body.light svg#symbols symbol *.strokeFill {
    fill: black;
}

body.dark svg#symbols symbol *.strokeFill {
    fill: white;
}

svg#symbols symbol .noFill {
    fill: none;
}

.symbol>use {
    transform: scale(0.5);
}

.symbol.hide, #symbols {
    display: none;
}

.box {
    max-height: 500px;
    width: fit-content;
    overflow-y: auto;
}

.fail {
    border-bottom: 1px solid red ;
}

#glyphs {
    width: fit-content;
}

.ignore {
    background-color: gray;
}

label {
    vertical-align: center;
}

p {
    margin: 0;
}

.pairs {
    display: grid;
    gap: 0 10px;
    grid-template-columns: max-content max-content;
    justify-items: center;
    height: fit-content;
}

.pairs>label {
    margin-right: 0.5em;
}

.planner {
    border-collapse: collapse;
}

select {
    appearance: none;
    min-width: 30ch;
    max-width: 40ch;
    max-height: none;
    text-wrap: unset;
}

table {
    max-width: 95vw;
}

tbody {
    vertical-align: top;
}

th, td {
    padding: 0.5ch;
}

th:nth-last-child(n+2), td:nth-last-child(n+2) {
    border-right: 2px solid lightgray;
}

#timeline {
    padding: 0 10px;
}

.trays {
    display: grid;
    gap: 10px;
    grid-template-rows: max-content;
    grid-auto-flow: column;
    justify-content: start;
    overflow-x: auto;
    width: 95vw;
}

.triplets {
    align-items: center;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, max-content);
    justify-items: center;
}